name: CI

on:
  push:
    branches-ignore:
      # Renovate branches are always Pull Requests.
      # We don't need to run CI twice (push+pull_request)
      - 'renovate/**'
  pull_request:
    paths-ignore:
      # should sync with ci-check.yml as a workaround to bypass github checks
      - 'docs/**'
      - 'examples/**'

permissions: {}

jobs:
  # Tests dev-only scripts across all supported dev environments
  test-dev:
    # l10nbot does not affect dev scripts.
    if: ${{ github.actor != 'l10nbot' }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - run: echo "${{ github.actor }}"
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          # fetch all tags which are required for `pnpm release:changelog`
          fetch-depth: 0
      - name: Set up pnpm
        uses: pnpm/action-setup@v4 # latest
      - name: Use Node.js 18.x
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: 18
          cache: 'pnpm' # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies
      - run: pnpm install
      - run: pnpm build:ci
      - run: pnpm release:changelog
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: pnpm validate-declarations
      - name: pnpm release:tag
        run: |
          git remote -v
          pnpm release:tag --dryRun
      - name: build site
        run: pnpm docs:typescript:formatted && pnpm -F stokedui-com build:clean
        if: ${{ matrix.os == 'ubuntu-latest' && (github.head_ref || github.ref_name) == 'main' }}
      - name: send export to s3 sync
        uses: actions/upload-artifact@v4
        if: ${{ matrix.os == 'ubuntu-latest' && (github.head_ref || github.ref_name) == 'main' }}
        with:
          name: main-build
          path: ./docs/export
  deploy:
    if: ${{ always() && (github.head_ref || github.ref_name) == 'main' }}
    needs: test-dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: main-build
          path: ./docs/export
      - name: Deploy SST app
        uses: quenginedev/sst-deploy@v.1.3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.PROD_SYNC_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_SYNC_AWS_SECRET_ACCESS_KEY }}}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          # ANY OTHER ENVS can go here
        with:
          path: '/path/to/the/root/of/your/sst/folder'
          pkg-manager: 'yarn' # required
          stage: 'prod'
          pre-deploy: 'cd ./path/to/web/app/or/something && yarn'
        with:
          args: --follow-symlinks --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_STOKED_UI }}
          AWS_ACCESS_KEY_ID: ${{ secrets.PROD_SYNC_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_SYNC_AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: 'us-west-1'   # optional: defaults to us-east-1
          SOURCE_DIR: ./docs/export     # optional: defaults to entire repository
          DEST_DIR: v2
      - name: Invalidate CloudFront
        uses: chetan/invalidate-cloudfront-action@v2
        env:
          DISTRIBUTION: ${{ secrets.DISTRIBUTION_ID }}
          PATHS: "/*"
          AWS_REGION: "us-east-1"
          AWS_ACCESS_KEY_ID: ${{ secrets.PROD_SYNC_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.PROD_SYNC_AWS_SECRET_ACCESS_KEY }}
